:root {
	--background: #e0e0e0;
	--brown: #a67c52;
}

* {
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--background);
}

header {
	margin: 10px;
	display: flex;
	justify-content: space-around;
}

.logo {
	width: 100px;
}

.principal {
	border: 1px solid var(--brown);
	border-radius: 18px;
	margin: 10px;
	padding: 10px;
}

.principal h2 {
	text-align: center;
}

.desc-personal {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items:center;
}

.perfil {
	width: 150px;
	height: auto;
	border-radius: 18px;
}

.desc-personal p {
	width: 50%;
	margin: 0;
}